<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.example" android:versionCode="1" android:versionName="1">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19" />
	<application android:label="Example.Android" android:icon="@drawable/Icon">
		<receiver android:name="com.exacttarget.etpushsdk.ET_GenericReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.example" />
			</intent-filter>
		</receiver>
		<service android:name="com.exacttarget.etpushsdk.ETSendDataIntentService" />
		<receiver android:name="com.exacttarget.etpushsdk.ETSendDataReceiver" />
	</application>
</manifest>